.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  margin: 0px 150px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
